@import '../../../styles/variables';

label, input {
  display: inline-block;
  font-size: 2vh;
  width: 85%;
  margin-bottom: 1vh;
  &.dark-mode {
    color: $text-color-dark
  }
}

input {
  border-radius: 0.5vw;
  border-width: 0.1vw;
  padding: 0.5vh 0.5vw;
  border-style: solid;
  width: 50%;
  @media only screen and (max-width: 1024px) {
    border-radius: 0.8vw;
  }
  @media only screen and (max-width: 480px) {
    border-radius: 1vw;
  }

  &.dark-mode {
    background-color: black;
  }
}

input:focus-visible {
  outline: none;
  border-color: $accent-color;
}

.input-label {
  line-height: 2vh;
}

mat-expansion-panel {
  background-color: $background-color-light;
  color: $text-color-light;
  &.dark-mode {
    background-color: $background-color-dark;
    color: $text-color-dark;
  }
}

mat-panel-title {
  color: $text-color-light;
  &.dark-mode {
    color: $text-color-dark;
  }
}
