@import '../../../styles/variables';

div {
  font-family: monospace;
  white-space: pre-wrap;
  display: inline-block;
  color: $text-color-light;
  &.dark-mode {
    color: $text-color-dark;
  }
}

.blinking-cursor {
  border-right: 2px solid black;
  display: inline-block;
  animation: blink-caret-dark 0.75s step-end infinite;
  height: 1em;
  vertical-align: bottom;
  &.dark-mode {
    animation: blink-caret-dark 0.75s step-end infinite
  }
}

@keyframes blink-caret-light {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}

@keyframes blink-caret-dark {
  from, to { border-color: transparent; }
  50% { border-color: white; }
}
