@font-face {
  font-family: 'Bree Serif';
  src: url('../../../assets/fonts/BreeSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import '../../../styles/variables';

$form-accent-color: #0072cf;

.principal {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

span::after {
  color: $form-accent-color;
  overflow: hidden;
  font-weight: bold;
  font-size: 1vw;
  margin-right: 0.5vh;
  min-width: 30px;
  @media only screen and (max-width: 1024px) {
    font-size: 2vw;
    min-width: 20.4px;
  }

  @media only screen and (max-width: 480px) {
    font-size: 3vw;
    min-width: 20.4px;
  }
}
.input-symbol {
  margin: auto 0;
}
span.input-symbol::after {
  content: '→';
}
span.valid-symbol::after {
  content: '✓';
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.label {
  margin: 1vh auto;
  display: flex;
  align-items: flex-start;
  justify-items: center;
}

p {
  margin: auto 0;
  font-family: "Bree Serif", serif;
  font-size: 2.3vh;
}

.code-box {
  margin-top: 2vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.code-input:focus-visible {
  outline: transparent;
}

input {
  flex-grow: 1;
  font-family: "Bree Serif", serif;
  max-width: 24px;
  text-align: center;
  height: 26px;
  padding: 12px;
  border-radius: 5px;
  border-color: gray;
  border-style: solid;
  border-width: 0.05vw;
  background-color: transparent;
  color: $text-color-light;
  &.dark-mode {
    color: $text-color-dark;
  }
}

.help-text p {
  margin-bottom: 5vh;
  font-family: "Segoe UI", serif;
  color: gray;
  font-size: 1vw;
}

app-op-container {
  width: 40%;
  padding: 1.5vw;
}

.accent-text {
  color: #007bff;
  cursor: pointer;
}

.accent-email {
  color: rgb(13, 188, 121);
}

.error-message {
  font-family: "Segoe UI", serif;
  color: $accent-color;
  font-size: 1vw;
  text-align: center;
  margin-top: 1vh;
  display: none;
}
