<div class="principal">
  <app-header></app-header>
  <div class="main-content">
    <app-op-container>
      <p>Você está quase lá!</p>
      <p>Enviamos um email de verificação para <span class="accent-email">{{userInput.email}}</span></p>
      <div *ngIf="isCodeResend" class="label">
        <p>
          <span class="valid-symbol"></span>
          <span class="accent-text">O email foi reenviado!</span>
        </p>
      </div>
      <div class="label">
        <p>
          <span *ngIf="!isCodeInputted" class="input-symbol"></span>
          <span *ngIf="isCodeInputted" class="valid-symbol"></span>
          <span class="accent-text">Digite o código*</span>
        </p>
      </div>
      <div class="code-box">
        <input
          class="code-input"
          *ngFor="let input of inputs; let i = index"
          type="text"
          maxlength="1"
          [(ngModel)]="code[i]"
          (input)="onInput($event, i)"
          (keydown)="onKeyDown($event, i)"
          #inputElement
        />
      </div>
      <div class="error-message" id="error-message">Preencha todos os campos</div>
    </app-op-container>
    <div class="help-text">
      <p>Não recebeu o email? <span class="accent-text" (click)="resendSignUpCode()">Reenviar o código</span> ou <span class="accent-text" (click)="toSignup()">alterar seu endereço de email</span>.</p>
    </div>
  </div>
  <app-footer>
    <app-ship></app-ship>
  </app-footer>
</div>
