app-op-container {
  width: 40%;
  flex: 1;
  margin: 3vh auto;
  border-color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0.71);
  border-style: solid;
  border-width: 0.05vw;
  box-shadow: none;
  &.dark-mode {
    border-color: rgba(128, 128, 128, 0.3);
  }
  @media only screen and (max-width: 1080px) {
    width: 60%;
  }

  @media only screen and (max-width: 480px) {
    width: 80%;
  }
}

.page-wrapper {
  display: block;
  height: 90vh;
}

.select-wrapper {
  display: flex;
  width: 30%;
  margin: 2vh 0;
}
