<div class="container" *ngIf="isUnfinished">
  <app-typing-effect [text]="'Bem-vindo ao mundo ninja!\nVamos começar a aventura'" [typingSpeed]="50"
                     (typingComplete)="onComplete($event)"></app-typing-effect>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div [ngClass]="displayControl({'displayConditions': [showEmailLabel]})">
      <label for="email">Digite seu email*</label>
      <div class="input">
        <span [ngClass]="inputValidity(isEmailValid)"></span><input #emailInput id="email" formControlName="email" required>
      </div>
    </div>
    <button class="continue" [disabled]="!isEmailValid" [ngClass]="displayControl({'displayConditions': [showEmailContinue], 'enableConditions': [isEmailValid]})" (click)="enablePassword()" type="submit">Continuar</button>
    <div [ngClass]="displayControl({'displayConditions': [showPasswordLabel, isEmailValid]})">
      <label for="password">Crie uma senha*</label>
      <div class="input password">
        <span [ngClass]="inputValidity(isPasswordValid)"></span>
        <input [type]="isPasswordVisible ? 'text' : 'password'" id="password" formControlName="password" required>
        <img *ngIf="isPasswordVisible" ngSrc="assets/icons/visibility_off.svg" (click)="changeVisibility()" alt="Visibility Off" class="visibility" height="25" width="25">
        <img *ngIf="!isPasswordVisible" ngSrc="assets/icons/visibility_on.svg" (click)="changeVisibility()" alt="Visibility On" class="visibility" height="25" width="25">
      </div>
      <button class="continue" [ngClass]="displayControl({'displayConditions': [showPasswordContinue, isEmailValid], 'enableConditions': [isPasswordValid]})" type="submit" (click)="enableUsername()" [disabled]="!isPasswordValid">Continuar</button>
    </div>
    <div [ngClass]="displayControl({'displayConditions': [showUsernameLabel, isPasswordValid, isEmailValid]})">
      <label for="name">Digite seu nome</label>
      <div class="input">
        <span [ngClass]="inputValidity(isUsernameValid)"></span><input id="name" formControlName="name" required>
      </div>
      <button class="continue" [ngClass]="displayControl({'displayConditions': [showSubmit, isPasswordValid, isEmailValid], 'enableConditions': [isUsernameValid]})" (click)="onFinish()" type="submit" [disabled]="!isUsernameValid">Concluir</button>
    </div>
  </form>
  <div *ngIf="emailErrorMessage !== ''" class="error-message">{{emailErrorMessage}}</div>
  <div *ngIf="passwordErrorMessage !== ''" class="error-message">{{passwordErrorMessage}}</div>
</div>

