@import '../../../styles/variables';

$border-radius: 5px;
$padding-container: 15px;

.character-sheet {
  border-radius: $border-radius;
  padding: $padding-container;
  width: 100%;
  box-sizing: border-box;

  @media only screen and (max-width: 768px) {
    padding: 15px;
    font-size: 14px;
  }

  @media only screen and (max-width: 480px) {
    padding: 10px;
    font-size: 12px;
  }
}
