@font-face {
  font-family: 'Bree Serif';
  src: url('../../../assets/fonts/BreeSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

p {
  width: 100%;
  text-align: center;
  font-family: "Bree Serif", serif;
  font-weight: bold;
}
