<app-header></app-header>
<div class="main-content">
  <div class="data">
      <p class="email">{{userDetails.name}}</p>
    </div>
  <div class="picture-container">
    <div class="image-wrapper">
        <img class="profile-picture" #profilepicture [src]="profilePicture" (error)="imageFetchError()">
    </div>
    <div class="action-btn">
      <button class="btn-icon" (click)="toggleMenu()">
        <img ngSrc="assets/icons/edit.svg" alt="Menu Icon" class="icon-dark" height="30" width="30"/>
        <img ngSrc="assets/icons/edit-dark.svg" alt="Menu Icon" class="icon-light" height="30" width="30"/>
      </button>
      <ul class="dropdown-menu" *ngIf="menuOpen">
        <input
          #inputField
          hidden
          type="file"
          (change)="fileSelected($event)"
          (click)="inputField.value = ''"
        />
        <li (click)="inputField.click()">Carregar foto</li>
        <li *ngIf="profilePicture !== addPhotoImage" (click)="removeProfilePicture()">Remover foto</li>
      </ul>
    </div>
  </div>
  <div class="data">
    <div class="personal-data">
      <p class="name">{{userDetails.email}}</p>
    </div>
    <div class="resources-data">
      <p>0 Fichas</p>
    </div>
  </div>
  <button class="logout" type="submit" (click)="signOut()">
    <img id="dark-icon" ngSrc="assets/icons/logout-dark.svg" height="24" width="24">
    <img id="light-icon" ngSrc="assets/icons/logout-light.svg" height="24" width="24">
    <p class="logout-text">Sair</p>
  </button>
</div>
<app-footer></app-footer>
