<header class="site-header">
  <div class="container">
    <div [matMenuTriggerFor]="menu" class="picture-container">
      <div class="image-wrapper">
        <img class="profile-picture" #profilepicture [src]="profilePicture" (error)="imageFetchError()" height="50" width="50 " alt="profile picture">
      </div>
      </div>
    <h1 class="site-title">The Powerful Story</h1>
    <nav class="site-nav">
      <ul>
      </ul>
    </nav>
    <button class="dark-mode-toggle" (click)="toggleDarkMode()">
      <img ngSrc="assets/icons/dark_sun_icon.svg" alt="Dark Theme" class="icon light" height="40" width="40" priority="">
      <img ngSrc="assets/icons/light_sun_icon.svg" alt="Light Theme" class="icon dark" height="40" width="40" priority="">
    </button>
  </div>
</header>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="navigate(['user-details'])">Minha Conta</button>
  <button mat-menu-item (click)="navigate(['characters'])">Personagens</button>
  <button mat-menu-item (click)="navigate(['catch'])">Captura</button>
</mat-menu>
