<app-user-header></app-user-header>
<div class="main-content">
  <div class="mat-elevation-z8" style="width: 80%">
    <table mat-table [dataSource]="characters">
      <ng-container matColumnDef="character">
        <th mat-header-cell *matHeaderCellDef>Personagem</th>
        <ng-container *matCellDef="let element">
          <td mat-cell [ngClass]="rankingClass(element.ranking)">
            <div class="image-wrapper">
              <img *ngIf="element.ranking == 'S+' && element.image" [src]="element.image" alt="character photo" height="40" width="40">
              <p>{{element.character}}</p>
            </div>
          </td>
        </ng-container>
      </ng-container>
      <ng-container matColumnDef="player">
        <th mat-header-cell *matHeaderCellDef>Jogador</th>
        <td mat-cell *matCellDef="let element" [ngClass]="rankingClass(element.ranking)"><p>{{element.player}}</p></td>
      </ng-container>
      <ng-container matColumnDef="ranking">
        <th mat-header-cell *matHeaderCellDef>Ranking</th>
        <td mat-cell *matCellDef="let element" [ngClass]="rankingClass(element.ranking)"><p style="font-family: 'Naruto Project', serif">{{element.ranking}}</p></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>
<app-footer></app-footer>
