@import '../../styles/variables';

@font-face {
  font-family: 'Naruto Project';
  src: url('../../assets/fonts/njnaruto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bree Serif';
  src: url('../../assets/fonts/BreeSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:host {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  ::ng-deep {
    app-title {
      p {
        font-family: "Naruto Project", serif;
      }
    }
  }
}

app-input {
  width: 50%;
}

.main-content, .content {
  height: 100%;
  width: 99%;
  padding: 2px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  margin-top: auto;
}

th {
  font-family: "Bree Serif", serif;
  font-weight: bold;
  padding-bottom: 1vh;
  @media only screen and (max-width: 1980px) {
    font-size: 1.2vw;
  }
  @media only screen and (max-width: 1080px) {
    font-size: 3vw;
  }
  @media only screen and (max-width: 480px) {
    font-size: 5vw;
  }
}

td {
  font-family: "Bree Serif", serif;
  font-weight: bold;
  text-align: center;
  background-color: inherit;
  p {
    color: black;
    @media only screen and (max-width: 1980px) {
      font-size: 1vw;
    }
    @media only screen and (max-width: 1080px) {
      font-size: 2.5vw;
    }
    @media only screen and (max-width: 480px) {
      font-size: 3.5vw;
    }
  }

  &.s-plus-rank {
    padding: 2vh 0;
    p {
      text-align: center;
    }
  }
}

tr {
  td {
    p {
      text-align: center;
    }
  }
  &.c-rank {
    background: linear-gradient(45deg, #43cea2, #143c2f);
    color: $text-color-light;
  }

  &.b-rank {
    background: linear-gradient(45deg, #4568dc, #18244c);
    color: $text-color-light;
  }

  &.a-rank {
    background: linear-gradient(45deg, #904e95, #321b33);
    color: $text-color-light;
  }

  &.s-rank {
    background: linear-gradient(45deg, #ff0000, #630101);
    color: $text-color-light;
  }

  &.s-plus-rank {
    padding: 2vh 0;
    color: white;
    font-family: "Naruto Project", serif;
    font-weight: bold;
    background: linear-gradient(90deg, #f4c903, #fae476) center/cover no-repeat;
    filter: brightness(1.2);
    p {
      text-align: center;
      padding: 1vh;
      margin: auto;
      display: inline;
      font-weight: bold;
      background: linear-gradient(90deg, #a88a02, black);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      @media only screen and (max-width: 1980px) {
        font-size: 1vw;
      }
      @media only screen and (max-width: 1080px) {
        font-size: 3vw;
      }
      @media only screen and (max-width: 480px) {
        font-size: 3.5vw;
      }
    }
  }
}


table {
  table-layout: auto;
  width: 100%;
  height: auto;
  max-height: 100%;
  padding: 0.5vh 0;
  overflow: hidden;
  border-collapse: collapse;
  border-spacing: 0;
  border-color: $background-color-dark;
  border-bottom: 2vh;
}

th, td {
  padding: 0;
  border-top: 0;
  border-bottom: 1.5px;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  border-color: $background-color-light;
  &.dark-mode {
    border-color: $background-color-dark;
  }
}

.image-wrapper {
  display: flex;
}

.container {
  height: auto;
  align-items: stretch;
}

.container, .search-container {
  @media only screen and (max-width: 1980px) {
    min-width: 60%;
  }
  @media only screen and (max-width: 1080px) {
    min-width: 80%;
  }
  @media only screen and (max-width: 480px) {
    min-width: 90%;
  }
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  background-color: $header-bg-color-light;
  &.dark-mode {
    background-color: $header-bg-color-dark;
  }
}

thead {
  background-color: $background-color-dark;
  tr {
    th {
      p {
        color: $text-color-dark;
        line-height: inherit;
      }
    }
  }
}

.search-container {
  max-width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-bottom: 5vh;
  padding: 2vh 0;
}

.search-resource {
  width: 100%;
  margin: 0 1vh;
  p {
    font-family: "Bree Serif", serif;
    font-size: 2vh;
    margin-bottom: 0.5vh;
    margin-top: 0;
    @media only screen and (max-width: 480px) {
      font-size: 1.5vh;
    }
  }
}

label, input {
  display: inline-block;
  font-family: "Bree Serif", serif;
  font-size: 2vh;
  margin: auto 1vh 0.5vh;
  &.dark-mode {
    color: $text-color-dark
  }
  @media only screen and (max-width: 480px) {
    font-size: 1.5vh;
    width: 80%;
  }
}

input {
  width: 100%;
  box-sizing: border-box;
  margin-left: 0;
  border-radius: 0.5vw;
  border-width: 0.1vw;
  padding: 0.5vh 0.5vw;
  border-style: solid;
  @media only screen and (max-width: 1024px) {
    border-radius: 0.8vw;
  }
  @media only screen and (max-width: 480px) {
    border-radius: 1vw;
  }

  &.dark-mode {
    background-color: black;
  }
}

input:focus-visible, textarea:focus-visible {
  outline: none;
  border-color: $accent-color;
}

button {
  aspect-ratio: 1;
  margin: 0 1vh;
  width: 3.5vh;
  height: 3.5vh;
  background-color: $background-color-light;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  &.dark-mode {
    background-color: black;
  }
  span {
    color: black;
    &.dark-mode {
      color: $text-color-dark;
    }
  }
}

.pagination {
  margin: 1vh 0;
  display: flex;
}

.blank {
  @media only screen and (max-width: 1980px) {
    min-width: 60%;
  }
  @media only screen and (max-width: 1080px) {
    min-width: 80%;
  }
  @media only screen and (max-width: 480px) {
    min-width: 90%;
  }
  margin: auto;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}
